/* overall styling for the webpage */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* styling for the header portion of the webpage */
header {
  text-align: center;
}

.lead {
  color: #87ceeb;
}

#currentDay {
  color: #f6be00;
}

.displayMsg {
  text-align: center;
  color: #a0c293;
}

/* styling for time block rows */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* styling for added class depending on the time of day */

.past {
  background-color: #ffd5e5;
  color: white;
}

.present {
  background-color: #cbffe3;
  color: white;
}

.future {
  background-color: #fbd3ff;
  color: white;
}

/* styling for save buttons */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
